{% extends "base.html" %}
{% block title %}Doctor Dashboard{% endblock %}

{% block content %}

<h2>Doctor Appointments – Assign Treatment</h2>

<table border="1" style="width:100%; border-collapse: collapse;">
    <tr style="background:#0d6d3d; color:white;">
        <th>Patient</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Assign Treatment</th>
    </tr>

    {% for appt in appointments %}
    <tr>
        <td>{{ appt.patient.username }}</td>
        <td>{{ appt.date }}</td>
        <td>{{ appt.time }}</td>
        <td>{{ appt.status }}</td>
        <td>
            <form method="POST">
                <input type="hidden" name="appointment_id" value="{{ appt.id }}">
                <select name="treatment_id" required>
                    <option value="">Select Treatment</option>
                    {% for t in treatments %}
                    <option value="{{ t.id }}" {% if appt.treatment_obj %} selected {% endif %}>
                        {{ t.treat_name }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit">Assign</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
